@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "انتهاء الامتحان";
}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2>شكراً لك</h2>
        <p>انتهى الامتحان. نتمنى لك التوفيق.</p>
    </div>
</div>
