<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - امتحان</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body { padding-top: 20px; }
        footer {
            margin-top: 40px;
            text-align: center;
            font-size: 0.9em;
            color: #777;
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        Developed By ICPC ANU Assiut
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
